/* variables */
$rubik: RubikMonoOne-Regular;
$robotoBold: Roboto-Bold;
$robotoLight: Roboto-Light;
$blue: #00b5d2;

/*-------------------- RESETE STYLES --------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: $robotoLight;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

a {
  border: none;
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

button {
  outline: none;
}

strong,
b {
  font-weight: 700;
}

.container {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}

/*------------scroll stick------------------*/
.scrollStick {
  position: absolute;
  right: 70px;
  top: 42.5%;
  transform: translateY(-50%);
  z-index: 999999;
  width: 2px;
  height: 0px;
  &:before,
  &:after {
    content: "";
    width: 2px;
    position: absolute;
    background: #3a30f8;
    right: -2px;
  }
  &:after {
    top: 76px;
    height: 237px;
  }
  &:before {
    top: -237px;
    height: 231px;
  }
  &__dot {
    height: 5px;
    width: 5px;
    background: #3a30f8;
    border-radius: 20px;
    margin: 10px 0;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    &_active,
    &:hover {
      transform: scale(1.5);
      border-radius: 20px;
      border: 1px solid #3a30f8;
      background: rgba(0, 0, 0, 0);
      margin: 10px 0;
    }
    &:hover {
      transform: scale(2.5);
    }
  }
  &_white {
    .scrollStick__dot {
      background: white;
      &_active,
      &:hover {
        transform: scale(1.5);
        border-radius: 20px;
        border: 1px solid white;
        background: rgba(0, 0, 0, 0);
        margin: 10px 0;
      }
      &:hover {
        transform: scale(2.5);
      }
    }
    &:before,
    &:after {
      background: white;
    }
  }
}

/*------------blocks------------------*/
.playButton {
  position: absolute;
  display: flex;
  left: 95.5%;
  z-index: 9999;
  top: 53px;
  cursor: pointer;
  &__heading {
    transform: rotate(270deg);
    height: 19px;
    font-family: $robotoBold;
    font-size: 9px;
    position: absolute;
    text-transform: uppercase;
    top: -8%;
    left: -53px;
    width: 86px;
  }
  &__button {
    background: url("../img/play.png");
    background-repeat: no-repeat;
    height: 55px;
    width: 51px;
    background-size: contain;
    transition: 0.3s;
    &:hover {
      transform: rotate(361deg) scale(1.2);
    }
  }
}
.list {
  margin-top: 16px;
  .list__item {
    font-family: $robotoLight;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 15px;
    display: flex;
    &:before {
      content: "";
      width: 20px;
      height: 2px;
      background: black;
      display: block;
      margin-top: 10px;
      margin-right: 10px;
    }
  }
}
.heading {
  font-family: $rubik;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 4px;
  margin-bottom: 22px;
}
.subHeading {
  font-family: $robotoLight;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.2px;
}

/*------------header------------------*/
.header {
  position: sticky;
  top: 0;
  z-index: 99999999999;
  background: white;
  padding-bottom: 18px;
  &__row {
    display: flex;
    justify-content: space-between;
  }
  .logoWrap {
    margin: 20px 0 0 66px;
    &__logo {
      width: 74%;
    }
  }
  .nav {
    width: 37%;
    margin-right: 63px;
    &__links {
      display: flex;
      margin-top: 29px;
    }
    &__link {
      font-family: $robotoBold;
      font-size: 11px;
      text-transform: uppercase;
      font-weight: bold;
      color: black;
      display: block;
      position: relative;
      overflow: hidden;
      padding: 2px 5px;
      &:after {
        content: "";
        display: block;
        width: 17%;
        height: 2px;
        background: #3a30f8;
        position: absolute;
        top: 85%;
        left: 100%;
        transition: 0.3s;
      }
      &:hover,
      &_active {
        &:after {
          left: -4%;
        }
      }
      &_marginRight {
        &_frst {
          margin-right: 42px;
        }
        &_scnd {
          margin-right: 38px;
        }
        margin-right: 3px;
      }
    }
  }
  .burger {
    display: none;
    button {
      display: block;
      border: none;
      width: 34px;
      height: 34px;
      padding-bottom: 0.4rem;
      outline: none;
      background: none;
      span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #000;
        margin-top: 0.5rem;
      }
      span {
        transition: all 0.4s ease, visibility 0.1s ease-in;
      }
      &.active span:nth-child(2) {
        opacity: 0;
      }
      &.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      &.active span:nth-child(3) {
        transform: rotate(-45deg) translate(9px, -9px);
      }
    }
  }
}

/*------------banner------------------*/
.banner {
  display: flex;
  position: relative;
  .leftSide {
    width: 24.5%;
    position: relative;
    padding-left: 262px;
    &__heading {
      font-size: 52px;
      font-family: $rubik;
      margin-top: 131px;
      margin-bottom: 15px;
      letter-spacing: 8px;
      line-height: 66px;
      position: relative;
      z-index: 99999;
      span {
        font-family: $rubik;
        letter-spacing: -5px;
      }
      &:before {
        content: "";
        width: 11.5px;
        height: 49px;
        border-bottom: 2px solid #cdcdcd;
        border-right: 2px solid #cdcdcd;
        position: absolute;
        left: 84%;
        top: -12%;
      }
      &:after {
        content: "";
        width: 4px;
        height: 4px;
        background: #cdcdcd;
        border-radius: 20px;
        position: absolute;
        left: 87%;
        top: -12%;
      }
    }
    &__subHeading {
      font-family: $robotoBold;
      line-height: 21px;
      text-transform: uppercase;
      margin-left: 3px;
      word-spacing: 1px;
      letter-spacing: 1px;
      font-size: 14px;
    }
    &__arrowDown {
      background: url("../img/arrowDown.png");
      border: none;
      width: 10px;
      height: 68px;
      cursor: pointer;
      transition: 0.3s;
      margin-left: 23px;
      margin-top: 24px;
      background-size: contain;
      background-repeat: no-repeat;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  .rightSide {
    position: relative;
    &__preloadImage {
      position: absolute;
      z-index: 11;
      height: 528px;
      width: 100%;
    }
    &__video {
      height: 528px;
      width: 100%;
    }
  }
}

/*------------advantage------------------*/
.advantage {
  padding: 139px 0;
  display: flex;
  position: relative;
  &__leftSide,
  .leftSide {
    position: relative;
    width: 38.9%;
    height: 528.27px;
    &__video {
      width: 100%;
      height: 100%;
    }
    &__preloadImage {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 899;
    }
    &__playButon {
      background: url("../img/playSecond.png") no-repeat;
      background-size: contain;
      border: 0;
      cursor: pointer;
      width: 74px;
      height: 74px;
      position: absolute;
      z-index: 999999;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s;
      &_left {
        left: 100%;
      }
    }
  }
  &__rightSide,
  .rightSide {
    width: 61.1%;
    display: flex;
    &__design,
    .design {
      padding: 65px 69px;
      &__link {
        font-family: $robotoBold;
        color: #3a30f8;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
        display: block;
        margin-bottom: 62px;
      }
    }
    &__color,
    .color {
      margin-top: 327px;
      margin-left: 43px;
      &__heading {
        position: relative;
        &:before {
          content: "";
          width: 10px;
          height: 204px;
          display: block;
          border-left: 2px solid #cdcdcd;
          border-top: 2px solid #cdcdcd;
          position: absolute;
          left: -13%;
          top: 41%;
        }
        &:after {
          content: "";
          width: 4px;
          height: 4px;
          background: #cdcdcd;
          border-radius: 20px;
          position: absolute;
          left: -13.2%;
          top: 823%;
        }
      }
      &__panel,
      .panel {
        margin-top: 40px;
        &__item {
          border-radius: 20px;
          border: none;
          background: black;
          height: 14px;
          width: 14px;
          padding: 0;
          margin-left: 20px;
          cursor: pointer;
          &_frst {
            margin-left: 13px;
            background: #e2e837;
          }
          &_scnd {
            background: #00b6f1;
          }
          &_thrd {
            background: #e23232;
          }
          &_frth {
            margin-left: 15px;
            background: #f0efef;
          }
          &_ffth {
            background: #0c0c0c;
          }
        }
      }
      &__giro {
        margin-top: 17px;
        margin-left: -78px;
        width: 268px;
        height: 226px;
      }
    }
  }
  .scrollStick {
    top: 36.5%;
  }
}

/*------------mode------------------*/
.mode {
  display: flex;
  padding-top: 13px;
  position: relative;
  &__leftSide,
  .leftSide {
    width: 50%;
    padding-top: 62px;
    padding-left: 264px;
    &__subHeading strong {
      letter-spacing: 0.2px;
    }
    .list {
      margin-top: 14px;
      margin-left: 2px;
      margin-bottom: 57px;
    }
    .speedWrap {
      display: flex;
      &__speed {
        margin-right: 50px;
      }
      .speed {
        div {
          display: flex;
          align-items: flex-end;
        }
        h2 {
          font-size: 39px;
          font-family: $rubik;
          color: #3b30f8;
          position: relative;
        }
        span {
          font-size: 15px;
          font-family: $rubik;
          color: #3b30f8;
          margin: 0 0px 4px 4px;
        }
        p {
          margin-top: 9px;
          margin-left: 3px;
          font-size: 11px;
          line-height: 17px;
        }
      }
    }
    .playButton {
      left: 42.8%;
      top: 79.8%;
    }
  }
  &__rightSide,
  .rightSide {
    width: 112.8%;
    height: 527px;
    position: relative;
    &__preloadImage {
      height: 100%;
      width: 100%;
      z-index: 8888;
      position: absolute;
    }
    video {
      width: 100%;
      height: 100%;
    }
  }
  .scrollStick {
    left: 55px;
  }
}

/*------------forWhoam------------------*/
.forWhoam {
  background: url(../img/forWhoamBackground.png);
  margin: 128px 0 0 0;
  display: flex;
  padding-bottom: 67px;
  position: relative;
  &__leftSide,
  .leftSide {
    padding: 67px 0 0 264px;
    width: 19%;
    &__heading {
      color: white;
      letter-spacing: 2px;
      word-spacing: -1px;
      margin-bottom: 58px;
    }
    &__subHeading {
      width: 248px;
      font-size: 12px;
      line-height: 21px;
      word-spacing: 3px;
      letter-spacing: 0.2px;
      color: white;
      margin-bottom: 13px;
    }
    &__link {
      padding: 11px 31px;
      border: 2px solid #3a30f8;
      text-transform: uppercase;
      border-radius: 20px;
      color: #3a30f8;
      background: white;
      display: inline-block;
      margin-top: 50px;
      margin-left: -3px;
      letter-spacing: 0px;
      font-size: 13px;
      font-weight: 900;
      transition: 0.3s;
      &:hover {
        border-color: white;
        background: #3a30f8;
        color: white;
      }
    }
  }
  &__rightSide {
    width: 50%;
    img {
      width: 122.93%;
      height: 528px;
      margin-top: -43px;
    }
  }
  .scrollStick {
    left: 55px;
  }
}

/*------------footer------------------*/
footer {
  background: #292929;
  padding: 6px 0;
  p {
    color: #605f5f;
    font-size: 9px;
    text-align: center;
    letter-spacing: -0.2px;
  }
}

/*------------responsive------------------*/
@media screen and (min-width: 1400px) {
  .subHeading,
  .mode__leftSide .speedWrap .speed p,
  .mode .leftSide .speedWrap .speed p,
  .list .list__item {
    font-size: 20px;
  }

  .banner .leftSide {
    &__heading:before {
      content: "";
      width: 11.5px;
      height: 49px;
      border-bottom: 4px solid #cdcdcd;
      border-right: 4px solid #cdcdcd;
      position: absolute;
      left: 86%;
      top: -12%;
    }
    &__heading:after {
      left: 88.1%;
      width: 10px;
      height: 10px;
    }
    &__arrowDown {
      width: 29px;
      height: 120px;
    }
  }

  .mode {
    &__leftSide,
    .leftSide {
      .playButton,
      .mode .leftSide .playButton {
        left: 41%;
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .mode {
    &__leftSide,
    .leftSide {
      .playButton,
      .mode .leftSide .playButton {
        left: 40%;
      }
    }
  }
}

@media screen and (min-width: 1900px) {
  .header .nav {
    width: 42%;
  }
  .header .nav__link {
    font-size: 13px;
  }
  .playButton__heading {
    font-size: 16px;
    left: -65px;
  }
  .scrollStick:before,
  .scrollStick:after {
    width: 4px;
    right: -4px;
  }
  .scrollStick:after {
    top: 92px;
  }
  .scrollStick__dot {
    width: 8px;
    height: 8px;
  }
  .banner .leftSide__heading:after {
    left: 87.3%;
    width: 13px;
    height: 13px;
  }

  .advantage__rightSide__color__panel__item,
  .advantage__rightSide__color .panel__item,
  .advantage__rightSide .color__panel__item,
  .advantage__rightSide .color .panel__item,
  .advantage .rightSide__color__panel__item,
  .advantage .rightSide__color .panel__item,
  .advantage .rightSide .color__panel__item,
  .advantage .rightSide .color .panel__item {
    width: 20px;
    height: 20px;
  }
  .mode {
    &__leftSide,
    .leftSide {
      .playButton,
      .mode .leftSide .playButton {
        left: 38%;
      }
    }
  }
  .forWhoam__leftSide__heading,
  .forWhoam .leftSide__heading {
    font-size: 25px;
  }
  .forWhoam__leftSide__subHeading,
  .forWhoam .leftSide__subHeading {
    font-size: 16px;
  }
}

@media screen and (max-width: 1339px) {
  .banner .leftSide__heading:after {
    left: 87.5%;
  }
  .forWhoam__leftSide,
  .forWhoam .leftSide {
    padding: 67px 50px 0 214px;
  }
}

@media screen and (max-width: 1240px) {
  .banner .leftSide {
    padding-left: 200px;
    width: 25.5%;
  }
}

@media screen and (max-width: 1200px) {
  .banner .leftSide {
    width: 27.5%;
  }
  .mode__leftSide .playButton,
  .mode .leftSide .playButton {
    position: relative;
    left: 95.5%;
    top: 53px;
  }
}

@media screen and (max-width: 1100px) {
  .banner .leftSide {
    width: 31%;
  }
}

@media screen and (max-width: 991px) {
  .scrollStick {
    right: 26px;
  }
  .header .nav {
    width: 54%;
    margin-right: 0;
  }
  .advantage {
    flex-direction: column;
    &__leftSide,
    .leftSide {
      width: 90%;
      margin: auto;
    }
    &__rightSide,
    .rightSide {
      width: 90%;
      margin: 20px auto 0;
      justify-content: center;
      &__color {
        margin: 0 0 0 100px;
      }
      &__design {
        text-align: center;
        padding: 0;
      }
      &__color,
      .color {
        margin: 0 0 0 50px;
      }
    }
  }

  .list .list__item {
    justify-content: center;
  }
  .mode__leftSide,
  .mode .leftSide,
  .mode__rightSide,
  .mode .rightSide {
    width: 50%;
  }
  .mode__leftSide,
  .mode .leftSide {
    padding-left: 0;
    text-align: center;
  }
  .mode__leftSide .speedWrap,
  .mode .leftSide .speedWrap {
    justify-content: center;
  }
  .forWhoam__leftSide,
  .forWhoam .leftSide {
    width: 50%;
    padding: 67px 0 0 0;
    text-align: center;
  }
  .forWhoam__leftSide__subHeading,
  .forWhoam .leftSide__subHeading {
    margin: auto;
    text-align: center;
  }
  .forWhoam__rightSide img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 769px) {
  .nav {
    display: block !important;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    flex-direction: column;
    .leftSide {
      order: 1;
      width: 100%;
      padding-left: 0;
      text-align: center;
      &__heading {
        margin-top: 60px;
        &:before {
          left: 68%;
          top: -18%;
        }
        &:after {
          left: 69.4%;
          top: -19%;
        }
      }
      .playButton {
        left: 64%;
        top: -20px;
        &__heading {
          top: 30%;
        }
      }
    }
    .rightSide {
      order: 0;
    }
  }
  .advantage__leftSide,
  .advantage .leftSide {
    width: 100%;
  }
  .mode {
    flex-direction: column;
    &__leftSide,
    .leftSide {
      order: 1;
      .playButton {
        left: 54.5%;
        top: -380px;
        width: 30%;
        &__heading {
          top: 31%;
        }
      }
    }
    &__rightSide,
    .rightSide,
    &__leftSide,
    .leftSide {
      width: 100%;
    }
    .scrollStick {
      left: 24px;
    }
  }
  .forWhoam {
    flex-direction: column;
    &__leftSide,
    .leftSide,
    &__rightSide,
    .rightSide {
      width: 100%;
      text-align: center;
    }
    &__leftSide,
    .leftSide {
      order: 1;
    }
    .scrollStick {
      left: 24px;
    }
  }
  .header {
    .nav {
      display: none;
      position: absolute;
      top: 135%;
      left: 50%;
      width: 100%;
      transform: translateX(-50%);
      background: white;
      .nav__links {
        flex-direction: column;
        margin: 0;
        .nav__linkWrap {
          text-align: center;
        }
        .nav__link {
          text-align: center;
          display: inline-block;
          font-size: 14px;

          &_marginRight {
            &_scnd,
            &_frst {
              margin: 10px 0;
            }
          }
        }
      }
    }
    .burger {
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (max-width: 550px) {
  .banner .leftSide__heading {
    font-size: 37px;
    line-height: 47px;
    &:before,
    &:after {
      display: none;
    }
  }
  .advantage__rightSide,
  .advantage .rightSide {
    flex-direction: column;
  }
  .advantage__rightSide__color,
  .advantage__rightSide .color,
  .advantage .rightSide__color,
  .advantage .rightSide .color {
    margin: 0;
    text-align: center;
  }
}

@media screen and(max-width: 375px) {
  .banner .leftSide__heading {
    font-size: 29px;
    line-height: 38px;
  }
  .advantage__rightSide__design,
  .advantage__rightSide .design,
  .advantage .rightSide__design,
  .advantage .rightSide .design {
    padding: 0;
  }
  .advantage__rightSide__color__giro,
  .advantage__rightSide .color__giro,
  .advantage .rightSide__color__giro,
  .advantage .rightSide .color__giro {
    margin: 10px auto 0;
  }
  .scrollStick {
    right: 12px;
  }
  .mode .scrollStick,
  .forWhoam .scrollStick {
    left: 13px;
  }
}
