.friendPage {
  h2 {
    margin: 50px 0;
    color: #47526e;
  }

  img {
    width: 100%;
    margin: auto;
    display: block;
    margin-bottom: 30px;
  }

  h3 {
    color: #47526e;
  }

  p {
    margin: 0 0 5px;
  }

  .txt {
    margin-top: 20px;
  }

  a {
    margin-top: 20px;
    display: inline-block;
    font-size: 20px;
    border: 1px solid #fff;
    color: #fff !important;
    padding: 5px 15px;
    transition: 0.3s;
    background: #47526e;

    &:hover {
      border-radius: 10px;
      border-color: #47526e;
      background: #fff;
      color: #47526e !important;
    }
  }
}

@media screen and (max-width: 767px) {
  .friendPage {
    img {
      width: auto;
    }

    h2 {
      text-align: center;
    }

    .content {
      text-align: center;
    }

    .txt {
      text-align: center;
    }
  }
}

@media screen and (max-width: 375px) {
  .friendPage img {
    width: 100%;
  }
}
