#root,
body,
html {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: OPTIHobble-OldStyle;
}

h1{
  font-size: 2.5rem;
  color: #fff
}

h2,h3{
  color: #47526e;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 23px;
}

p{
  font-size: 16px;
}

a:hover{
  text-decoration: none;
}

header,
footer {
  flex: 0 0 auto;
}

section {
  flex: 1 0 auto;
}


.header {
  background: #47526e;
  padding: 20px 0;
  &__link:hover {
    text-decoration: none;
  }
}

.footer {
  padding: 20px 0;
  background: #47526e;
  &__text {
    color: #fff;
    margin: 0;
  }
}
