body {
  font-family: OPTIHobble-OldStyle;
}

header {
  background: #47526e;
  padding: 20px 0;
  h1 {
    color: white;
  }
  a:hover {
    text-decoration: none;
  }
}

footer {
  padding: 20px 0;
  background: #47526e;
  p {
    color: #fff;
    margin: 0;
  }
}
