/* font */
@font-face {
  font-family: "OPTIHobble-OldStyle";
  src: url("./OPTIHobble-OldStyle/OPTIHobble-OldStyle.eot");
  src: url("./OPTIHobble-OldStyle/OPTIHobble-OldStyle.eot");
  src: url("./OPTIHobble-OldStyle/OPTIHobble-OldStyle.eot?#iefix")
      format("embedded-opentype"),
    url("./OPTIHobble-OldStyle/OPTIHobble-OldStyle.woff") format("woff"),
    url("./OPTIHobble-OldStyle/OPTIHobble-OldStyle.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
