body {
  font-family: "Baloo Chettan 2", cursive;
  background: #000;
}

.neonCalculate {
  display: flex;
  width: 100%;
  max-width: 970px;
  margin: 100px auto;
  background-color: #0c0c0c;
  justify-content: space-between;
  min-height: 596px;
  border-radius: 20px;
}

.yourWordsWrap {
  width: 63.6%;
  flex: 0 0 auto;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 20px;
}

.yourWordsWrap:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.yourWordBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.yourWordWrap {
  position: relative;
  width: 90%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.word {
  text-shadow: 0 0 5px #c5dc16, 0 0 10px #c5dc16, 0 0 20px #c5dc16,
    0 0 40px #c5dc16, 0 0 80px #c5dc16, 0 0 90px #c5dc16, 0 0 100px #c5dc16;
  color: #c5dc16;
  text-transform: uppercase;
  word-wrap: break-word;
  font-family: "Bad Script";
}

.calculate {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  border: 3px solid #e1e500;
  color: #fff;
}
.getWord {
  width: 100%;
}

textarea {
  border: 2px solid #e1e500;
  background: black;
  color: white;
  padding: 5px;
  width: 86%;
  margin-top: 20px;
}

textarea::placeholder {
  color: #fff;
  font-size: 18px;
}

.widthOfWords {
  color: #fff;
}

.getFont {
  width: 90%;
  margin-bottom: 20px;
}

.fontsContent {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: space-between;
}

.fontsContent button {
  border: 2px solid #e1e500;
  background: none;
  outline: none;
  color: #e1e500;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.fontsContent button span {
  transition: 0.3s;
}

.fontsContent button:hover span {
  transform: translateX(50%);
}

.fontsContent button.prev:hover span {
  transform: translateX(-50%);
}

.fontsContent button:disabled {
  border-color: #fff;
}
.fontsContent button:disabled span {
  color: #fff;
}

.fonts {
  display: inherit;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.fonts p {
  position: absolute;
  width: 100%;
  height: 30px;
  margin: 0;
  transition: 0.3s;
  font-size: 20px;
}

#firstFont {
  font-family: "Bad Script";
}

#secondFont {
  font-family: "Didact Gothic";
}

#thirdFont {
  font-family: "Arial";
}

#fourthFont {
  font-family: "Redis";
}

#fifthFont {
  font-family: "Havana";
}

#sixthFont {
  font-family: "Realize";
}

#seventhFont {
  font-family: "Amatic";
}

#eigthFont {
  font-family: "Cramaten";
}

#ninethFont {
  font-family: "Verbena";
}

.pickYourWidth {
  width: 100%;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 90%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #e1e500;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #ff00ff;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #ff00ff;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
  background: #ff00ff;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #ff00ff;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #ff00ff;
}

.calculate h2,
.calculate h3 {
  color: #fff;
  font-size: 17px;
}

.getColors {
  width: 95%;
}

.colors {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.colors .color {
  cursor: pointer;
  height: 20px;
  width: 20px;
  border: 2px solid grey;
  transition: 0.3s;
  border-radius: 20px;
  transition: 0.3s;
}

.colors .color:hover,
.colors .active {
  transform: scale(1.5);
}

.priceInHrn {
  text-shadow: rgb(226, 228, 33) 0px 0px 5px, rgb(226, 228, 33) 0px 0px 10px;
  color: rgb(226, 228, 33);
  font-size: 25px;
}

.overPrice {
  text-shadow: rgb(226, 228, 33) 0px 0px 5px, rgb(226, 228, 33) 0px 0px 10px;
  color: rgb(226, 228, 33);
}

@media screen and (max-width: 991px) {
  body {
    font-family: "Arial", cursive;
  }
  .neonCalculate {
    flex-direction: column;
    margin: 0 auto;
  }
  .yourWordsWrap {
    width: 100%;
    height: 200px;
  }
  .yourWordWrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .yourWordBackground {
    width: 100%;
  }
  .calculate {
    margin-top: 20px;
  }
  textarea {
    width: 90%;
    height: 100px;
  }
}
