.searchingSection {
  &__panel,
  .panel {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    &__activeFeature {
      cursor: pointer;
      display: block;
      background: none;
      color: #fff;
      outline: none;
      width: 100%;
      padding: 5px 0 5px 10px;
      border: 1px solid #47526e;
      border-radius: 0 0 0 10px;
      &:hover,
      &:focus{
        background: #fff;
        color: #47526e;
        
      }
    }
    .sorts{
      grid-column-start: 1;
      grid-column-end: 3;
    }
    
    &__features {
      margin-top: 5px;
      border-radius: 0 0 0 10px;
      background: #47526e;
      color: #fff;
      position: relative;
    }
    &__chooseFeatures {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      border-radius: 0 0 0 10px;
      background: #47526e;
      z-index: 2222;
    }
    &__featuresHeader {
      margin: 0;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      text-align: center;
      font-weight: 700;
      cursor: default;
    }
    &__chooseFeature {
      font-size: 14px;
      cursor: pointer;
      transition: 0.3s;
      cursor: pointer;
      padding-left: 10px;
      &:hover {
        color: #47526e;
        background: #fff;
      }
    }
    .filters {
      margin-left: 5px;
      border-radius: 0 0 10px 0;
      grid-column-start: 3;
      grid-column-end: 5;
      .panel_activeFeature{
        border-radius: 0 0 10px 0;
      }
      .panel__chooseFeatures {
        border-radius: 0 0 10px 0;
        z-index: 333;
      }
      .panel__activeFeature{
        border-radius: 0 0 10px 0;
      }
    }

    .noRadius {
      border-radius: 0;
    }
  }
}

@media screen and(max-width: 767px){
  .searchingSection {
    .panel{
      text-align: center;
      width: 100%;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      .sorts{
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 1;
      }
      .filters{
        grid-row-start: 4;
        grid-column-start: 1;
        grid-column-end: 1;
       
      }
      .filters, .sorts{
        border-radius: 0;
        width: 70%;
        margin: 10px auto 0;
        display: block;
        .panel__chooseFeatures{
          border-radius: 0;
        }
        .panel__activeFeature:hover,
        .panel__activeFeature:focus
        {
          border-radius: 0;
        }
      }
    }
  }
  
   
}


@media screen and (max-width: 425px) {
  .searchingSection {
    .panel {
      &__features {
        width: 100%;
      }
    }
  }
}
